.FrameworkCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 20%;
  padding: 10px;
  margin: 0 30px 0 30px;
  border: 1px solid black;
  box-shadow: 1px 4px 5px #999;
  background-color: #DDD;
}

.FrameworkCard .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 50%;
  width: 100%;
}

.FrameworkCard .vue {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.FrameworkCard .angular {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.FrameworkCard .react {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.FrameworkCard .ember {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.FrameworkCard .vueLogo {
  height: 30%;
  width: 30%;
}

.FrameworkCard .angularLogo {
  height: 30%;
  width: 100%;
}

.FrameworkCard .reactLogo {
  height: 40%;
  width: 50%;
}

.FrameworkCard .emberLogo {
  height: 30%;
  width: 100%;
}

.FrameworkCard .cardInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}

.FrameworkCard .label {
  font-size: 100%;
}

.FrameworkCard .data {
  font-size: 18px;
  text-align: center;
}

.FrameworkCard .link {
  display: flex;
  align-items: center;
  justify-content: center;
}
